@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/*font-family: 'Inter', sans-serif;*/

:root {
    --text-color: white;
    --bd: url(img/bg-mobile.jpg);
    --filter: invert(1);
    --bd-links: rgba(255, 255, 255, 0.042);
    --hover-bd: rgba(255, 255, 255, 0.168);
    --botao: url(img/MoonStars.svg);
    --botao-cor: rgb(255, 255, 255);

}

.light {
    --filter-botao: invert(1);
    --text-color: rgb(0, 0, 0);
    --botao-cor: rgb(255, 255, 255);
    --bd: url(img/bg-mobile-light.jpg);
    --filter: none;
    --bd-links: rgba(0, 0, 0, 0.122);
    --hover-bd: white;
    --botao: url(img/Sun.svg)
}

body * {
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--bd);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

main {

    width: 360px;
    margin: 56px auto;
}


#profile,
#profile p {
    padding-top: 10px;
    line-height: 24px;
    text-align: center;

}

/*switch*/
.botao {
    position: relative;
    width: 70px;
    margin: 30px auto;

}

.botao button {
    width: 34px;
    height: 34px;
    background-color: var(--botao-cor);
    border: 0;
    border-radius: 50%;
    background-image: var(--botao);
    position: absolute;
    animation: slide-out 1s forwards;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;

}


.botao span {

    border-radius: 9999px;
    display: block;
    width: 64px;
    height: 24px;
    border: 1px solid var(--text-color);
    background-color: var(--bd-links);
    animation: slide-in 1s;

}



.light .botao button {
    animation: slide-in 1s forwards;

}

/*links*/

ul {
    margin-top: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

ul li a {
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding: 16px 24px;
    justify-content: center;
    display: flex;

    border: solid 1px var(--text-color);
    background-color: var(--bd-links);

    -webkit-backdrop-filter: blur(4px);
    transition: background .5s;
    transition: border .5s;


}

ul li a:hover {
    border: solid 1px var(--text-color);
    background-color: rgba(0, 0, 0, 0.157);
}

/* sociallinks */

.sociallinks {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    padding: 24px 0;

}

.sociallinks img {
    -webkit-filter: var(--filter);

    width: 30px;

}

.sociallinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background .5s;
    border-radius: 50%;


}

.sociallinks a:hover {

    background-color: var(--hover-bd);


}

footer {
    text-align: center;
    font-size: 11px;

}

footer span {
    color: blueviolet;
}


/*animation*/

@keyframes slide-in {

    from {
        right: 0;

    }

    to {
        right: 55%;

    }


}

@keyframes slide-out {

    from {
        right: 55%;

    }

    to {
        right: 0;

    }


}
